body
    min-height: 630px
    
    @media (min-height: 630px)
        height: 100%
    
li
    text-align: center
    /*background-color: #24A5A0*/
    
    a
        text-decoration: none
        color: #fff
        display: block
        
section
    min-height: (3 * 630px / 4)
    
    @media (min-height: 630px)
        min-height: 75vh
    
    @media (min-width: 1000px) and (min-height: 630px)
        height: calc(3 * (100vh - 200px) / 4)
    
    p
        padding: 10px 5%

        @media (min-width: 1000px) and (min-height: 630px)
            font-size: 1.25em
            padding: 10px 25px
            
    &.light p
        color: #333
        
    &.dark p
        color: #EEE