body,
header, nav, main, section, article, aside, footer,
div, h1, h2, h3, p, ul, li {
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box; }

li {
  list-style: none; }

.clearfix {
  content: "";
  clear: both;
  display: table; }

.hide {
  display: none; }

.shadow {
  text-shadow: 0 1px #000; }

body {
  min-height: 630px;
  font-family: "Anonymous Pro", monospace; }
  @media (min-height: 630px) {
    body {
      height: 100%; } }

li {
  text-align: center;
  /*background-color: #24A5A0 */ }
  li a {
    text-decoration: none;
    color: #fff;
    display: block; }

section {
  min-height: 472.5px; }
  @media (min-height: 630px) {
    section {
      min-height: 75vh; } }
  @media (min-width: 1000px) and (min-height: 630px) {
    section {
      height: calc(3 * (100vh - 200px) / 4); } }
  section p {
    font-family: Georgia, serif;
    padding: 15px 25px 0; }
    @media (min-width: 800px) and (min-height: 630px) {
      section p {
        font-size: 1.1em;
        padding: 25px 5% 0; } }
    @media (min-width: 1600px) and (min-height: 630px) {
      section p {
        font-size: 1.25em; } }
  section.light p {
    color: #333; }
  section.dark p {
    color: #EEE; }

@media (min-width: 1000px) and (min-height: 630px) {
  #container {
    position: absolute;
    top: 100px;
    left: 100px;
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    overflow: hidden; } }
@media (min-width: 1600px) and (min-height: 630px) {
  #container {
    left: 15%;
    width: 70%; } }

#container.blur {
  opacity: 0.25; }

#header-home {
  width: 100%;
  min-height: 157.5px;
  /*background-color: #24A5A0 */ }
  #header-home h1 {
    padding: 5px 0; }
  #header-home h1, #header-home h2 {
    text-align: center;
    color: #fff; }
    @media (min-height: 630px) and (min-width: 1000px) {
      #header-home h1, #header-home h2 {
        display: inline-block;
        width: 50%;
        font-size: 2.5em;
        margin-top: 3vh; } }
  @media (min-height: 630px) and (min-width: 1000px) {
    #header-home h2 {
      float: right; } }
  @media (min-height: 630px) {
    #header-home {
      height: 25vh;
      position: relative;
      z-index: 1; } }
  @media (min-width: 1000px) {
    #header-home {
      position: relative;
      height: 25%; } }

@media (min-height: 630px) {
  #name-title {
    position: absolute;
    width: 100%;
    top: calc(25% - 35px); } }
@media (min-height: 1000px) {
  #name-title {
    margin-top: 5vh; } }

#header {
  height: 157.5px;
  display: table;
  width: 100%; }
  #header div {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  #header h1 {
    font-size: 2.5em;
    color: #FFF; }
  @media (min-height: 630px) {
    #header {
      height: 25vh; } }

#portrait {
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 157.5px;
  left: 50%;
  transform: translate(-50%, -50%); }
  #portrait img {
    border-radius: 50%;
    width: 100%; }
  @media (min-height: 630px) {
    #portrait {
      top: 100%; } }
  @media (min-width: 1000px) {
    #portrait {
      top: 100%; } }

#themeImage, #menuImage {
  width: 50px;
  height: 50px;
  position: fixed; }
  #themeImage img, #menuImage img {
    width: 100%; }
  #themeImage:hover, #menuImage:hover {
    cursor: pointer; }

#themeImage {
  bottom: 0;
  right: 0; }

#menuImage {
  top: 0%;
  right: 0%; }
  @media (min-height: 630px) and (min-width: 1000px) {
    #menuImage {
      display: none; } }

#nav-home {
  width: 100%;
  height: 472.5px;
  padding-top: 75px;
  /*background-color: #ECE2D9 */ }
  #nav-home li {
    width: 75%;
    border-radius: 100px;
    margin: 26.5px auto;
    transition: background-color 0.3s linear; }
    #nav-home li:hover {
      background-color: #256BB5; }
    #nav-home li a {
      padding: 15.9px 50px;
      font-size: 1.5em;
      font-weight: bold;
      transition: color 0.3s linear;
      transition: letter-spacing 0.3s linear; }
      #nav-home li a:hover {
        color: #ECE2D9;
        letter-spacing: 2px;
        text-shadow: 0 1px #000; }
  @media (min-height: 630px) {
    #nav-home {
      position: relative;
      height: 75vh; }
      #nav-home ul {
        position: absolute;
        left: 50%;
        top: calc(50% + 35px);
        transform: translate(-50%, -50%);
        width: 100%; }
      #nav-home li {
        margin-top: 4vh;
        margin-bottom: 4vh; } }
  @media (min-width: 1000px) and (min-height: 630px) {
    #nav-home {
      height: 75%; }
      #nav-home li {
        width: 50%;
        border-radius: 0;
        margin: 0;
        display: inline-block;
        float: left; }
        #nav-home li a {
          padding: 5vh 50px;
          font-size: 1.5em;
          font-weight: bold; } }

#nav {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 100%; }
  @media (max-height: 630px), (max-width: 1000px) {
    #nav {
      transform: translate(0, -50%);
      display: none;
      visibility: hidden; }
      #nav.show {
        display: block;
        visibility: visible;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 1; }
      #nav ul {
        clear: both;
        padding-bottom: 40px; }
      #nav li {
        transition: background-color 0.3s linear; }
        #nav li:hover {
          background-color: #256BB5; }
        #nav li a {
          padding: 15.9px 50px;
          font-size: 1.5em;
          font-weight: bold;
          transition: color 0.3s linear;
          transition: letter-spacing 0.3s linear; }
          #nav li a:hover {
            color: #ECE2D9;
            letter-spacing: 2px;
            text-shadow: 0 1px #000; } }
  @media (min-height: 630px) and (min-width: 1000px) {
    #nav {
      width: calc(100% - 200px);
      top: 100px;
      left: 100px;
      display: block;
      z-index: 1; }
      #nav li {
        display: inline-block;
        transition: background-color 0.3s linear; }
        #nav li:hover {
          background-color: #256BB5; }
        #nav li a {
          font-size: 1.25em;
          padding: 10px 15px;
          transition: color 0.3s linear;
          transition: letter-spacing 0.3s linear; }
          #nav li a:hover {
            text-shadow: 0 1px #000; } }
  @media (min-width: 1600px) and (min-height: 630px) {
    #nav {
      left: 15%;
      width: 70%; } }

#exit {
  font-size: 1.5em;
  font-weight: bold;
  float: right;
  padding: 5px;
  margin-right: 10px; }
  #exit:hover {
    cursor: pointer; }
  @media (min-height: 630px) and (min-width: 1000px) {
    #exit {
      display: none; } }

.light, .dark {
  transition: background-color 0.3s linear; }

.light.primary {
  background-color: #24A5A0; }

.light.secondary {
  background-color: #ECE2D9; }

.light.tertiary {
  background-color: #FFF; }

.dark.primary {
  background-color: #0B7A76; }

.dark.secondary {
  background-color: #999; }

.dark.tertiary {
  background-color: #CCC; }

/*# sourceMappingURL=main.css.map */
