#header-home
    width: 100%
    min-height: (630px / 4)
    /*background-color: #24A5A0*/
    
    h1
        padding: 5px 0
    
    h1, h2
        text-align: center
        color: #fff
        
        @media (min-height: 630px) and (min-width: 1000px)
            display: inline-block
            width: 50%
            font-size: 2.5em
            margin-top: 3vh
    h2
        @media (min-height: 630px) and (min-width: 1000px)
            float: right
        
    @media (min-height: 630px)
        height: 25vh
        position: relative
        z-index: 1
        
    @media (min-width: 1000px)
        position: relative
        height: 25%
        
#name-title
    @media (min-height: 630px)
        position: absolute
        width: 100%
        top: calc(25% - 35px)
        
    @media (min-height: 1000px)
        margin-top: 5vh
        
#header
    min-height: (630px / 4)
    display: table
    width: 100%
        
    div
        display: table-cell
        text-align: center
        vertical-align: middle
        
    h1
        color: #FFF
        
    @media (min-height: 630px)
        height: 25vh