#header-home
    width: 100%
    min-height: (630px / 4)
    background-color: #24A5A0
    
    h1
        padding: 5px 0
    
    h1, h2
        text-align: center
        
    @media (min-height: 630px)
        height: 25vh