#portrait
    width: 150px
    margin: 0 auto
    position: absolute
    top: (630px / 4)
    left: 50%
    transform: translate(-50%, -50%)
    
    img
        border-radius: 50%
        width: 100%
        
    @media (min-height: 630px)
        top: 100%
        
    @media (min-width: 1000px)
        top: 100%
        
#themeImage, #menuImage
    width: 50px
    height: 50px
    position: fixed
    
    img
        width: 100%
        
    &:hover
        cursor: pointer

#themeImage
    top: 100%
    left: 100%
    transform: translate(-100%, -100%)
    
#menuImage
    top: 0%
    right: 0%
    
    @media (min-height: 630px) and (min-width: 1000px)
        display: none