.light, .dark
    transition: background-color 0.3s linear
        
.light.primary
    background-color: #24A5A0
    
.light.secondary
    background-color: #ECE2D9
    
.light.tertiary
    background-color: #FFF
    
.dark.primary
    background-color: #0B7A76
    
.dark.secondary
    background-color: #999
    
.dark.tertiary
    background-color: #CCC